# deps
node_modules

# build output
dist
dist-ssr

# env & secrets
.env
.env.*
!.env.example

# generated
src/convex/_generated

# logs
*.log
npm-debug.log*
bun.lock.bak

# editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.swp

# platform
.vly
